<div id="customers" class="page-layout carded fullwidth inner-scroll">

    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header accent"
             fxLayout="column" fxLayoutAlign="center center"
             fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="space-between center">

            <!-- APP TITLE -->
            <div class="logo mb-24 mb-md-0"
                 fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="logo-icon s-32 mr-16" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
                    person
                </mat-icon>
                <span class="logo-text h1" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    Clients
                </span>
            </div>
            <!-- / APP TITLE -->

            <!-- SEARCH -->
            <div class="search-wrapper mx-32 mx-md-0">
                <div class="search" fxFlex fxLayout="row" fxLayoutAlign="start center">
                    <mat-icon>search</mat-icon>
                    <input #filter placeholder="Rechercher un client">
                </div>
            </div>
            <!-- / SEARCH -->

            <!-- ADD BUTTON -->
            <button *ngIf="has('create')" mat-fab class="accent" id="add-contact-button"
                    (click)="newCustomer()"
                    matTooltip="Ajouter un client"
                    [@animate]="{value:'*', params:{delay:'300ms',scale:'.2'}}">
                <mat-icon>person_add</mat-icon>
            </button>
            <!-- / ADD BUTTON -->

        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card">

            <mat-table class="customers-table"
                       #table [dataSource]="dataSource"
                       matSort
                       [@animateStagger]="{value:'50'}"
                       fusePerfectScrollbar>

                <!-- Name Column -->
                <ng-container matColumnDef="name">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Nom Complet</mat-header-cell>
                    <mat-cell *matCellDef="let customer">
                        <p class="text-truncate">{{customer.name}}</p>
                    </mat-cell>
                </ng-container>

                <!-- mobilePhone Column -->
                <ng-container matColumnDef="mobilePhone">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Tel</mat-header-cell>
                    <mat-cell *matCellDef="let customer">
                        <p class="text-truncate">{{customer.mobilePhone}}</p>
                    </mat-cell>
                </ng-container>

                <!-- homePhone Column -->
                <ng-container matColumnDef="homePhone">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Fax</mat-header-cell>
                    <mat-cell *matCellDef="let customer">
                        <p class="text-truncate">{{customer.homePhone}}</p>
                    </mat-cell>
                </ng-container>

                <!-- address Column -->
                <ng-container matColumnDef="address">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Adresse</mat-header-cell>
                    <mat-cell *matCellDef="let customer">
                        <p class="text-truncate">{{customer.address}}</p>
                    </mat-cell>
                </ng-container>

                <!-- Buttons Column -->
                <ng-container matColumnDef="buttons">
                    <mat-header-cell *matHeaderCellDef></mat-header-cell>
                    <mat-cell *matCellDef="let customer">
                        <div fxFlex="row" fxLayoutAlign="end center">
                            <button (click)="$event.stopPropagation()" mat-icon-button [matMenuTriggerFor]="moreMenu" matTooltip="Plus">
                                <mat-icon class="secondary-text">more_vert</mat-icon>
                            </button>

                            <mat-menu #moreMenu="matMenu">
                                <button
                                    mat-menu-item
                                    *ngIf="has('update')"
                                    (click)="editCustomer(customer)"
                                    matTooltip="modifier">
                                    <mat-icon>edit</mat-icon>
                                    <span>Modifier</span>
                                </button>
                                <button
                                    mat-menu-item
                                    *ngIf="has('delete')"
                                    (click)="delete(customer)"
                                    matTooltip="supprimer">
                                    <mat-icon>delete</mat-icon>
                                    <span>Supprimer</span>
                                </button>
                            </mat-menu>
                        </div>
                    </mat-cell>
                </ng-container>


                <mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></mat-header-row>

                <mat-row *matRowDef="let customer; columns: displayedColumns;"
                         class="customer"
                         matRipple>
                </mat-row>

            </mat-table>

            <mat-paginator #paginator
                           [length]="dataSource.filteredData.length"
                           [pageIndex]="0"
                           [pageSize]="10"
                           [pageSizeOptions]="[5, 10, 25, 100]">
            </mat-paginator>

        </div>
        <!-- / CONTENT CARD -->
    </div>
    <!-- / CENTER -->
</div>
