<div class="dialog-content-wrapper">
    <mat-toolbar matDialogTitle style="background: #422874 !important; color: white !important;"
                 class="mat-accent m-0">
        <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
            <span class="title dialog-title">{{dialogTitle}}</span>
            <button mat-icon-button (click)="matDialogRef.close()" matTooltip="Fermer le dialogue">
                <mat-icon>close</mat-icon>
            </button>
        </mat-toolbar-row>
    </mat-toolbar>

    <div mat-dialog-content class="p-24 pb-0 m-0" fusePerfectScrollbar>

        <form [formGroup]="orderForm">

            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Client</mat-label>
                    <mat-select formControlName="customer"
                                (selectionChange)="findCustomerSelected($event.value)"
                                required>
                        <mat-option [value]="0" (click)="newCustomer()">
                            <mat-icon>add</mat-icon>
                            Créer un client
                        </mat-option>
                        <mat-option *ngFor="let customer of customers"
                                    [value]="customer.id">{{customer.name}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Date de la commande</mat-label>
                    <input matInput [matDatepicker]="orderDateDatePicker" name="orderDate"
                           formControlName="orderDate" required>
                    <mat-datepicker-toggle matSuffix [for]="orderDateDatePicker"></mat-datepicker-toggle>
                    <mat-datepicker #orderDateDatePicker></mat-datepicker>
                </mat-form-field>
            </div>

           <!-- <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Production par bâtiment</mat-label>
                    <mat-select formControlName="production"
                                (selectionChange)="findProdSelected($event.value)"
                                required>
                        <mat-option *ngFor="let production of productions"
                                    [value]="production.id">Prod-{{production.building.name}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>-->

            <div fxLayout="row" fxLayoutAlign="start center" *ngIf="displayQteField">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Qte totale disponible</mat-label>
                    <input type="text" formControlName="qteAvailable" readonly
                           mask="separator"
                           matInput>
                </mat-form-field>
            </div>

            <div fxLayout="row" fxLayoutAlign="start center">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Quantité Commandé</mat-label>
                    <input type="text" #d (input)="checkQte(d.value)"
                           formControlName="quantity" mask="separator" matInput autocomplete="off">
                </mat-form-field>
            </div>

            <div fxLayout="row" fxLayoutAlign="start center">
                <mat-form-field appearance="outline" class="pr-4" fxFlex="50">
                    <mat-label>P.U</mat-label>
                    <input type="text" #p (input)="calculAmount(p.value)"
                           formControlName="unitPrice" mask="separator" matInput autocomplete="off">
                </mat-form-field>
                <mat-form-field appearance="outline" class="pr-4" fxFlex="50">
                    <mat-label>Montant</mat-label>
                    <input type="text" formControlName="amount" mask="separator" matInput>
                </mat-form-field>
            </div>

            <!--<div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Référence de la Commande</mat-label>
                    <input formControlName="reference" matInput>
                </mat-form-field>
            </div>-->


        </form>

    </div>

    <div mat-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="center">

        <button (click)="matDialogRef.close()"
                mat-button
                class="mr-8"
                matTooltip="Annuler">
            Annuler
        </button>

        <button *ngIf="action !== 'edit'"
                mat-button
                (click)="saveOrUpdate()"
                class="save-button"
                [disabled]="orderForm.invalid">
            Enregistrer
        </button>

        <button *ngIf="action === 'edit'"
                mat-button
                (click)="saveOrUpdate()"
                class="save-button"
                [disabled]="orderForm.invalid">
            Modifier
        </button>

    </div>
</div>
