<div id="access" class="inner-scroll" fxLayout="row" fxLayoutAlign="center">

    <div class="content" fxLayout="column" fxLayoutAlign="center center">

        <div class="error-code">Acces refusé</div>

        <div class="message">Vous n'êtes pas autorisé à acceder à la ressource demandé !</div>

        <div class="sub-message">
            Si le problème persiste, veuillez contacter l'administrateur du système
        </div>

        <a [routerLink]="'/views/dashboards/main'" class="report-link">Allez sur l'accueil</a>

    </div>

</div>
