<div id="building" class="page-layout carded fullwidth inner-scroll">

    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header accent" fxLayout="row" fxLayoutAlign="space-between center">

            <!-- APP TITLE -->
            <div fxLayout="row" fxLayoutAlign="start center">

                <button mat-icon-button class="mr-0 mr-sm-16" [routerLink]="'/views/view-production/buildings'">
                    <mat-icon>arrow_back</mat-icon>
                </button>

                <div fxLayout="column" fxLayoutAlign="start start"
                     [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    <div class="h2" *ngIf="pageType ==='edit'">
                        {{building.name}}
                    </div>
                    <div class="h2" *ngIf="pageType ==='new'">
                        Nouveau Bâtiment
                    </div>
                    <div class="subtitle secondary-text">
                        <span>Detail Bâtiment</span>
                    </div>
                </div>
            </div>
            <!-- / APP TITLE -->

            <button mat-raised-button
                    (click)="save()"
                    class="save-product-button"
                    [disabled]="buildingForm.invalid || !isLinesCorrect()"
                    *ngIf="pageType ==='new'">
                <span>Enregistrer</span>
            </button>

            <button mat-raised-button
                    (click)="save()"
                    class="save-product-button"
                    [disabled]="buildingForm.invalid || !isLinesCorrect()"
                    *ngIf="pageType ==='edit'">
                <span>Modifier</span>
            </button>
        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card">

            <!-- CONTENT -->
            <div class="content">
                <div class="tab-content p-24" fusePerfectScrollbar>
                    <form name="buildingForm" [formGroup]="buildingForm" class="building w-100-p" fxLayout="column"
                          fxFlex>
                        <div fxFlex="1 0 auto" fxLayout="row" fxLayoutAlign="start center">
                            <mat-form-field appearance="outline" class="pr-4" fxFlex="50">
                                <mat-label>Nom</mat-label>
                                <input formControlName="name" matInput required>
                            </mat-form-field>
                            <mat-form-field appearance="outline" class="pr-4" fxFlex="50">
                                <mat-label>Description</mat-label>
                                <textarea formControlName="description" matInput
                                          placeholder="Description du Bâtiment"
                                          rows="2">
                                    </textarea>
                            </mat-form-field>
                        </div>
                    </form>
                </div>
                <div class="divServicesLayerType">
                    <div class="responsiveTbl">
                        <table>
                            <thead>
                            <tr>
                                <th style="text-align: center;">N°</th>
                                <th style="text-align: center;">Type Pondeuse</th>
                                <th style="text-align: center;">Description</th>
                                <th style="text-align: center;">Quantité</th>
                                <th style="text-align: center;"></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr *ngFor="let layer of layerTypes; let i=index">

                                <td>{{i + 1}}</td>
                                <td>
                                        <textarea [(ngModel)]="layer.name" id="name_{{i}}"
                                                  matInput></textarea>
                                </td>
                                <td>
                                        <textarea [(ngModel)]="layer.description" id="description_{{i}}"
                                                  matInput></textarea>
                                </td>
                                <td>
                                    <input (keyup)="onLineChanged(i)" [(ngModel)]="layer.quantity" id="quantity_{{i}}"
                                           matInput type="text" mask="separator"
                                    />
                                </td>
                                <td>
                                            <span>
                                                <a (click)="deleteLine(i)" href="javascript:void(0);">
                                                    <mat-icon>delete</mat-icon>
                                                </a>
                                            </span>
                                </td>
                            </tr>
                            </tbody>
                            <button (click)="addNewRow()" class="submit-button"
                                    color="accent" mat-stroked-button>
                                <mat-icon>add</mat-icon>
                            </button>
                            <tfoot>
                            <tr class="text-style">
                                <th colspan="4"
                                    id="total"
                                    style="background-color: inherit !important; color: #5F5F60 !important;">
                                    Total
                                </th>
                                <td style="text-align: right; color: #A61341 !important;">{{total| number:'':'fr-FR'}}</td>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>

            </div>
            <!-- / CONTENT -->

        </div>
        <!-- / CONTENT CARD -->

    </div>
    <!-- / CENTER -->

</div>
